@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



$blue-color:#4DA6F8;
$dark-white-color:#E3E6E7;
$background-color:#DEF0F1;


body{
    padding:0;
    margin:0;
    background-color: #DEF0F1;
    height:100vh;
    width:100%;
}